.khan__quote {
    font-weight: normal;
    line-height: 34px;
    font-size: 24px;
    width: 790px;
    margin: 0;
    margin-top: 50px;
  }
  
  .khan__quote-author {
    font-weight: 600;
    line-height: 1.15;
    font-size: 24px;
    margin: 0;
    margin-top: 36px;
  }
  
  .khan__quote-author-subline {
    font-weight: normal;
    line-height: 1.15;
    font-size: 24px;
    margin: 0;
    margin-top: 10px;
  }