.kaufman {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: #1f1f1f;
    padding-bottom: 90px;
    min-height: 790px;
  }